*{
    margin: 0%;
    padding: 0%;
}

:root{
    --primary : rgb(132, 0, 255) ;
    --fonte : "trebuchet";
    --fonteColor : white ;
    --tamanhoTitulo : 48px;
}

header,footer{
    width: 100%;
    background-color: var(--primary);
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

input{
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border: 2px solid rgb(59, 59, 59);
}

#pesquisarBtn{
    padding: 5px;
    background-color: white;
    color: var(--primary);
    border: none;
    transition: 0.5s;
}

#pesquisarBtn:hover{
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    transition: 0.5s ;
    border-radius: 5px;
    border: 2px solid white;
}

#pesquisarBtn:active{
    background-color: rgb(255, 0, 132);
}

a{
    color: var(--fonteColor);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 0, 132);
}

input:focus{
    padding: 10px;
    border: none;
    outline-style: none;
    border: 2px solid rgb(255, 0, 132);
    transition: 1s;
}

a[href="index.html"]{
    color: rgb(188, 183, 39);
    font-size: 20pt;
    transition: 1s;
}

a[href="index.html"]:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: 1s;
}

/* main */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* + um elemento acompanhado ex */
/* <h1> */
/* <p> */

/* > um elemento filho ex */
/* <h1> */
/* <p></p> */
/* </h1> */

h1:has(+ p){
    color: blueviolet;
}

/* NOT exclusão da condição */
p:not(.preco){
    color: rgb(120, 120, 120);
}

h1::after{
    content: " 😀 ";
}

h1::before{
    content: " 🐾 ";
}

::placeholder{
    color: rgb(255, 174, 0);
}