*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor1: rgb(255, 81, 0) ;
    --cor2: rgb(0, 68, 255) ;
    --cor3: rgb(136, 0, 255) ;
    --cor4: rgb(49, 49, 49) ;
    --branco : rgb(240, 240, 240) ;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

hr{
    width: 100%;
    border: 2px solid black;
}

table{
    width: 600px;
    border-collapse: collapse;
}

td,th{
    padding: 8px;
    border: solid 2px black;
}

th{
    background-color: var(--cor2);
    color: var(--branco);
}

td{
    background-color: var(--branco);
}

th:empty{
    border: none;
    background-color: transparent;
}

td:hover{
    border: 3px solid var(--cor1) ;
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}

td:active{
    background-color: var(--cor3);
    color: var(--branco);
}

#conteudoEspaco{
    width: 10px;
    height: 2000px;
}

thead{
    position: sticky;
    top: -1px;
}